*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 90vh;
    background-color: #ededed;
}

h1 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-family: 'roboto';
}

footer{
    text-align: center;
    margin-top: 15px;
    font-family: 'roboto';
}

a{
    text-decoration: none;
    color:#000 ;
}

a:hover{
    text-decoration: none;
    background-color: black;
    color:white ;
}

.cont{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button , input{
    font-weight: bold;
    height: 60px;
    margin-top: 12px;
    font-size: 1.5rem;   
    border: none;
    cursor: pointer;
    outline: none;
}

button{
    width: 200px;
    border: solid 1px gray;
    border-radius: 15px;
    background-color: none;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}

#color-ajustment{
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 0px 30px;
border-radius: 20px;
}


#color-range{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    margin: auto;
}

#color-range::-webkit-color-swatch {
    border-radius: 50%;
    border: 0px solid #000000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#color-range::-moz-color-swatch {
    border-radius: 50%;
    border: 0px solid hsl(0, 0%, 0%);
}

#grid{
    text-align: center;
    font-size: 1.5rem;
}

.column {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
}

.row{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
}

#playground{
    background-color: yellow;
    box-shadow: -1px 2px 14px 1px rgba(0,0,0,0.75);
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;

  }

  .active, .button:hover {
    background-color: #000;
    color: white;
  }

  .box{
    background-color: rgb(255, 255, 255);
  }