*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 , footer {
    font-family: 'roboto';
}

img{
    height: 36px;
    width: 36px;
}

footer{
  font-size : 24px;
  width: 100vw ;
  height: 2em ;
  display : flex ;
  justify-content :center ;
  align-items :center; 
}

a{
    text-decoration: none;
    color:#003B4A ;
    padding: 4px;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button , input{
    font-weight: bold;
    margin-top: 12px;
    font-size: 1.5rem;
    cursor: pointer;
}

button{
    width: 10rem;
    padding: 16px 0px;
    border: solid 1px gray;
    border-radius: 15px;
    cursor: pointer;
}

button:hover , .active , .button:hover {
    background-color: black;
    color: white;
}

.color-adjustment{
    display: flex;
    flex-direction: column;
}

#color-range{
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: none;
    margin: auto;
    cursor: pointer;
}

#color-range::-webkit-color-swatch {
    border-radius: 50%;
    border: 0px solid #000000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#playground{
    width: 35vw;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
}

.box{
    background-color:white;
}

@media screen and (max-width: 1024px) {
    body{
        gap: 24px;
    }
    main{
        flex-direction: column;
        gap: 12px;
    }
    #playground{
        width: 90vw;
        height: 90vw;
        aspect-ratio: 1 / 1;
    }
    .color-adjustment{
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 12px;
    }
    button{
        width: auto;
        padding : 0px 8px;
    }
    .color-adjustment > * , #color-range{
        margin: 0;
    }
}